.error-message{
    color: red;
    margin-bottom: 10px;
}

#flashMessage{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
  }
  .ui-autocomplete li {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .ui-autocomplete img {
    width: 64px;
    height: 64px;
  }

