.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 80px); /* Adjust the max-width as needed */
}

.message-date {
    position: absolute;
    bottom: 22px;
    right: 10px;
    font-size: 15px;
    color: #888;
}

.cursor-pointer {
    cursor: pointer;
}

.card-body:hover{
    background-color: #f5f5f5;
}